body{
    background-color:#FFFFFF;
    /* overflow:hidden; */
    font-family: sans-serif;
    font-size:15px;
}
footer{
    color:rgb(115, 115, 115);
    text-align: center;
    align-self:flex-end;
}
footer ul{
    list-style: none;
    display:flex;
    text-align:center;
    font-size:13px;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between; 
    
}
footer ul li a{
    text-decoration: none;
    color:rgb(115, 115, 115);
}
#logo{
    width:175px;
}
button{
    background-color: #4BB4F8;
    color: #FFFFFF;
    border-radius: 10px;
    width: 300px;
    height: 35px;

}
.info{
    text-align:center;
    width:40%;
}
main{
    display:flex;
    justify-content: center;
}
#google{
    height:40px;
}
#microsoft{
    height:40px;
}
.container{
    margin: 25%;
    margin-top:36px;
}

.instagram-demo{
    position:relative;
}
.instagram-demo img:first-child {
    position: relative;
    left: 0;
    top: 0;
}
.instagram-demo img:last-child {
    position: absolute;
    left: 154px;
    top: 27px;
} 
#login, #password{
    width:300px;
    height:35px;
    background-color:#FAFAFA;
    border:1px solid #b3bcc9;
}
.fb-login{
    font-weight:700;
    color:#375185;
    font-size:14px;
    top:4px;
    text-decoration:none;
}
#facebook{
    height: 20px;
    position: relative;
    top:4px;
}
.forgot-pw{
    font-size: 12px;
    text-decoration: none;
    color:#1F376B;
}
#logo{
    padding:2em;
}
.sign-up{
    color:#4BB4F8;
    text-decoration:none;
    font-weight:500;
}
.usernamepassword{
    background-color:#FAFAFA;
}
.last{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: baseline;
    font-size:13px;
}
select{
    height:20px;
    border:0px;
    color:rgb(115, 115, 115);
}
h4{
    font-weight:100;
}
fieldset{
    border:1px solid #b3bcc9;
}
.newuser{
    border:1px solid #b3bcc9;
    padding:1em;
}
@media(max-width:875px){
    .instagram-demo{
        position:absolute;
        display:none;
    }
    .info{
        display:flex;
        flex-direction: column;
        justify-content: center;

    }
}